/* html {
overflow:hidden;
} */

body{
  color: #fff
  font-family: 'Righteous', cursive;  
}

/* #introName {
  color: #ffffff;
} */

.bottomaligned {
  position:/*absolute;*/ bottom:0;  margin-bottom:7px; left: 45%;
}

p {
  color: #fff
  display: block;
}

#introPara {
  padding-top: 10px;
  padding-left: 15%;
  text-align: left;
}

#aboutRow {
  margin-top: 5%;
}

.details{
    float: left;
}

ul {
  list-style-type: none;
}

li {
  color: #fff
}

a {
  color: #08fdd8;
}

.aboutList {
  float: left;
  width: 30%;
}

@media (min-width: @screen-xs-max) and (max-width: @screen-sm-max) { /* (max-width: 640px) */
  .aboutList {
      float: none;
      display: inline-block;
      width: 100%;
      margin-left: 0;
  }
}

@media (max-width: @screen-sm-max) {
  .parallax {
      background-color: #109; 
  }
}

#current {
  color: #08fdd8;
}

#cubeSpin {
  margin-bottom: 120px;
  margin-right: 90px;
  color: #08fdd8;
}

.parallax { 
   /* The image used */
   background-color: #fff;
   background-image: url("https://images.unsplash.com/photo-1479639359931-25f04faa6188?dpr=1&amp");
  /*     opacity: 0.5; */

   /* Set a specific height */
   height: 100%; 
   width: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#skillDetails {
  padding-top: 10%;
}

.thumbnail {
    float: left;
    width: 100;
    height: 121;
    background-color: #000;
}
.thumbnail h3 {
    color: #08fdd8
}


/* Rubberband text effect */
.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes rubberBand {
  0% {transform: scale(1);}
  30% {transform: scaleX(1.25) scaleY(0.75);}
  40% {transform: scaleX(0.75) scaleY(1.25);}
  60% {transform: scaleX(1.15) scaleY(0.85);}
  100% {transform: scale(1);}
}
.rubberBand:hover {
  animation-name: rubberBand;
}

i {
  border-color: #08fdd8
}

#contactRow {
  padding-left: 10%;
  padding-top: 12%;
}

#copyStatus {
  color: #fff;
  padding-top: 15%;
}
